.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.name {
  margin-right: 2em;
}

.anon-key-input {
  border: solid 1px;
  width: 400px;
  padding: 3px;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.search-field {
  padding: 5px;
}
